/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #629df9;
  --vp-c-brand-2: #4f7dc9;
  --vp-home-hero-name-color: #629df9;
  --vp-c-indigo-3: #629df9;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    145deg,
    #bd34fe 30%,
    #629df9
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #629df9 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  padding: 18px;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}


:root {
  --vp-nav-bg-color: transparent;
}

.VPNav,
.VPLocalNav {
  position: relative;
  background: var(--vp-nav-bg-color) !important;
}

.VPNav::after,
.VPLocalNav.reached-top::after {
  position: absolute;
  content: '';
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: saturate(180%) blur(12px);
  z-index: -1;
}

.VPNavBar,
.VPLocalNav.reached-top {
  border-bottom: none;
}
